@model List<Employee>

@{
    var pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h2>Employees</h2>

<form method="post" asp-controller="Home" asp-action="Upload" enctype="multipart/form-data" class="upload-form">
    <input type="file" class="input-file form-control" name="file" />
    <button type="submit" class="btn btn-success">Upload</button>
</form>

<div class="file-errors"></div>

<div class="filter">
    <label for="filter">Search:</label>
    <input type="text" id="filter" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Married</th>
            <th>Phone</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td><span>@employee.Id</span></td>
                <td>
                    <span class="editable" data-field="Name" data-id="@employee.Id" data-value="@employee.Name">@employee.Name</span>
                    <div class="field-validation-error"></div>
                </td>
                <td>
                    <span class="editable" data-field="DateOfBirth" data-id="@employee.Id" data-value="@employee.DateOfBirth.ToShortDateString()">@employee.DateOfBirth.ToShortDateString()</span>
                    <div class="field-validation-error"></div>
                </td>
                <td>
                    <span class="editable" data-field="Married" data-id="@employee.Id" data-value="@employee.Married">@employee.Married</span>
                    <div class="field-validation-error"></div>
                </td>
                <td>
                    <span class="editable" data-field="Phone" data-id="@employee.Id" data-value="@employee.Phone">@employee.Phone</span>
                    <div class="field-validation-error"></div>
                </td>
                <td>
                    <span class="editable" data-field="Salary" data-id="@employee.Id" data-value="@employee.Salary">@employee.Salary</span>
                    <div class="field-validation-error"></div>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@employee.Id" class="delete-link btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" model="@pager" />
